.login-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 400px;
  padding: 2rem;
  background: rgba(0, 0, 0, 0.15);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

/* Estructura de los campos */
.flex-row {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

/* Etiqueta */
.lf--label {
  width: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* Campos de entrada */
.lf--input {
  flex: 1;
  padding: 0.8rem;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.lf--input:focus {
  outline: none;
  border-color: rgb(146, 0, 0);
  transition: 0.3s;
}

/* Botón de enviar */
.lf--submit {
  display: block;
  width: 100%;
  padding: 1rem;
  background: rgb(146, 0, 0);
  color: white;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 1rem;
}

.lf--submit:hover {
  background: rgb(146, 0, 0);
}

/* Enlace de "Forgot Password" */
.lf--forgot {
  display: block;
  text-align: center;
  font-size: 0.85rem;
  margin-top: 1rem;
  color: rgb(146, 0, 0);
  text-decoration: none;
}

.lf--forgot:hover {
  text-decoration: underline;
}
