.banner_area {
    z-index: 99;
    position: relative;
    background-image: url(https://i.postimg.cc/mrbynkz8/banner.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 200px;
    top: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.banner_area ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.banner-text {
    font-size: 50px;
    color: white;
    text-decoration: none;
}

.banner-button {
    color: black;
    background-color: rgb(146, 0, 0);
    border: 1px solid black;
    padding: 12px 20px;
    font-size: 18px;
    text-decoration: none;
    transition: 0.3s;
}

.banner-button:hover {
    box-shadow: 0 0 5px rgb(146, 0, 0),
                0 0 25px rgb(146, 0, 0),
                0 0 50px rgb(146, 0, 0);
    background-color: black;
    color: rgb(146, 0, 0);
}

@media (max-width: 666px) {
    .banner-text {
        font-size: 35px;
    }
}