.banner_area {
    z-index: 99;
    position: relative;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 250px;
    top: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.banner_area ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.banner-text {
    font-size: 50px;
    color: white;
    text-decoration: none;
    -webkit-text-stroke: 1px black;
}

.banner-buy-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.banner-buy-text {
    font-size: 18px;
    color: black;
    text-decoration: none;
    font-weight: bold;
    background-color: rgb(146, 0, 0);
    padding: 10px 15px;
    border: 1px solid black;
    transition: 0.3s;
    display: inline-block;
    text-align: center;
}

.banner-buy-text:hover {
    box-shadow: 0 0 5px rgb(146, 0, 0),
        0 0 25px rgb(146, 0, 0),
        0 0 50px rgb(146, 0, 0);
    background-color: black;
    color: rgb(146, 0, 0);
}

.banner-mouse {
    width: 40px;
    height: auto;
    position: absolute;
    left: 40%;
    transform: translateX(-100%);
    cursor: pointer;
}

.banner_area::before,
.banner_area::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: rgb(0, 0, 0);
}

.banner_area::before {
    top: 0;
}

.banner_area::after {
    bottom: 0;
}

/* Responsive */
@media (max-width: 666px) {
    .banner-text {
        font-size: 35px;
        text-shadow: none;
        -webkit-text-stroke: 0;
        animation: none;
        text-shadow: none;
    }

    .banner-mouse {
        left: 35%;
    }

    .banner-buy-text:hover {
        box-shadow: none;
        background-color: rgb(146, 0, 0);
        color: black;
    }
}