.card-evento-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    margin-top: 80px;
    z-index: 500;
}

.card-evento-title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.card-evento-title {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    padding: 10px 20px;
    color: white;
    z-index: 2;
}

.card-evento-title-container::before,
.card-evento-title-container::after {
    content: "";
    position: absolute;
    top: 50%;
    width: calc(50% - 130px);
    height: 6px;
    background: rgb(146, 0, 0);
    transform: translateY(-50%);
    clip-path: polygon(0% 50%, 5% 0%, 15% 40%, 25% 0%, 35% 50%, 45% 0%, 55% 50%, 65% 0%, 75% 50%, 85% 0%, 95% 50%, 100% 50%, 90% 100%, 80% 60%, 70% 100%, 60% 50%, 50% 100%, 40% 60%, 30% 100%, 20% 50%, 10% 100%);
}

.card-evento-title-container::before {
    left: 0;
}

.card-evento-title-container::after {
    right: 0;
}

.card-evento-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    justify-content: center;
}

.card-evento-card {
    position: relative;
    width: 100%;
    max-width: 280px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.card-evento-card::before,
.card-evento-card::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    z-index: 3;
}

.card-evento-card::before {
    top: 8px;
    left: 8px;
    border-width: 30px 30px 0 0;
    border-color: rgb(146, 0, 0) transparent transparent transparent;
}

.card-evento-card::after {
    bottom: 8px;
    right: 8px;
    border-width: 0 0 30px 30px;
    border-color: transparent transparent rgb(146, 0, 0) transparent;
}

.card-evento-card img {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
    display: block;
}

.card-evento-label {
    position: absolute;
    top: 10px;
    right: 10px;
    color: rgb(0, 0, 0);
    -webkit-text-stroke: 0.5px rgb(146, 0, 0);
    padding: 5px 10px;
    font-size: 25px;
    border-radius: 5px;
}

.card-evento-card:hover img {
    transform: scale(1.1);
}

@media (max-width: 1024px) {
    .card-evento-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {
    .card-evento-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .card-evento-label {
        font-size: 20px;
        -webkit-text-stroke: 0;
    }

    .card-evento-card::before {
        border-width: 18px 18px 0 0;
    }
    
    .card-evento-card::after {
        border-width: 0 0 18px 18px;
    }
}

/* Eliminar efectos hover en móviles */
@media (hover: none) {
    .card-evento-card:hover img {
        transform: none;
    }
}