.prices_page {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.pricing {
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.prices-cards-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1440px;
  width: 90%;
  margin: 0 auto;
  gap: 20px;
}

.price-card {
  border: 5px solid rgb(146, 0, 0);
  padding: 40px 20px;
  width: 100%;
  max-width: 350px;
  text-align: center;
  z-index: 98;
  color: white;
}

.price-container {
  width: 140px;
  height: 140px;
  background-color: rgb(146, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: #fff;
  margin: 0 auto;
  clip-path: polygon(48% 0%, 62% 34%, 91% 8%, 84% 53%, 100% 64%, 70% 70%, 91% 95%, 42% 76%, 11% 96%, 15% 58%, 0 28%, 35% 29%);
}

.price {
  display: flex;
}

.price span:first-child {
  font-size: 50px;
  -webkit-text-stroke: 0.1px black;
}

.price span:last-child {
  font-size: 40px;
  -webkit-text-stroke: 0.1px black;
}

@keyframes pricesglowEffect {
  0% {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8),
                 0 0 20px rgba(172, 172, 172, 0.6),
                 0 0 30px rgba(29, 29, 29, 0.4);
  }
  50% {
    text-shadow: 0 0 15px rgb(255, 255, 255),
                 0 0 25px rgba(172, 172, 172, 0.6),
                 0 0 35px rgba(29, 29, 29, 0.4);
  }
  100% {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8),
                 0 0 20px rgba(172, 172, 172, 0.6),
                 0 0 30px rgba(29, 29, 29, 0.4);
  }
}

.price span:first-child,
.price span:last-child {
  animation: pricesglowEffect 1.5s infinite alternate;
}

.prices-plan {
  font-size: 30px;
  color: white;
}

.prices-deliverable {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  margin: 10px 0;
}

.prices-deliverable span {
  margin-right: 10px;
}

.prices-align-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.prices-mouse {
  width: 50px;
  height: auto;
  position: absolute;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);
}

.prices-btn {
  display: inline-block;
  padding: 1em 3.5em;
  border: 4px solid black;
  background-color: rgb(146, 0, 0);
  color: black;
  text-decoration: none;
  text-align: center;
}

.prices-btn:hover {
  background-color: black;
  color: rgb(146, 0, 0);
  border: 2px solid rgb(255, 255, 255);
}

.container_prices {
  text-align: center;
  background-color: rgba(56, 56, 56, 0.541);
  padding: 25px;
  color: white;
  margin-top: 25px;
}

.container_prices h3 {
  color: #ff0000;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .prices-cards-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .price-card {
    max-width: 100%;
  }

  .prices-mouse {
    width: 40px;
    left: 20px;
  }

  .price span:first-child,
  .price span:last-child  {
    text-shadow: none;
    -webkit-text-stroke: 0;
    animation: none;
    text-shadow: none;
  }
}
