@font-face {
    font-family: face;
    src: url("./Road_Rage.otf");
}

:root {
    color-scheme: dark;
    background-color: black; /* Asegura un fondo oscuro */
    color: white; /* Asegura texto claro */
}

body,
html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100%;
    font-family: "face";
}

* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    user-select: none;
}
